<div class="login-container">
  <div class="card-login">
    <div class="card-left">
      <div class="icon-container">
        <img src="../../../assets/farmer_prof.jpg" alt="Login Image" class="login-image" />
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="login-form">
        <h2>Login</h2>

    <!-- Phone -->
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" placeholder="Enter your phone number" formControlName="phone" />
      <p class="error" *ngIf="getFormControl('phone')?.touched && getFormControl('phone')?.errors?.['required']">
        Phone is required
      </p>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" placeholder="Enter your password" formControlName="password" />
      <p class="error" *ngIf="isEmailRequired('password')">Password is required</p>
    </div>

        <a (click)="navigateToForgotPW()" class="forgot-link">Forgot password?</a>

        <button type="submit" class="login-btn">LOGIN</button>

        <p *ngIf="inValidCredentials" class="error">Invalid phone or password</p>

        <div class="or-divider">
          <hr>
          <span><a (click)="navigateToRegister()" class="signup-link">Create your account</a></span>
          <hr>
        </div>
      </div>
    </form>
  </div>
</div>