/* Navbar */
.navbar {
  position: fixed;
  top: 0px;
  height: 73px;

  align-items: center;
  display: flex;
  padding: 0 2rem;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2e7845ff;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin: 0;
  cursor: pointer;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #2e7845ff;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}
.login-btn{color: #2e7845ff}
.login-btn,
.signup-btn {
  border: 1px solid #2e7845ff;
  background-color: white;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover,#languageDropdown:hover {
  background-color:  #25b152ff;
  color: white;
}

.signup-btn {
  background-color: #2e7845ff;
  color: white;
}

.signup-btn:hover {
  background-color:  #25b152ff;
}
.goog-te-banner-frame.skiptranslate,
.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

body {
  top: 0px !important; /* kyunki banner normally body ko push karta hai */
}
#google_translate_element select {
  background: #28a745;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#google_translate_element select option {
  color: black; /* dropdown ke andar ke liye */
}

