<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-3 w-100">
  <div class="container-fluid">
    <h2 class="logo">KrushiJantra</h2>

    <!-- Toggler button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse p-3 bg-light" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-evenly w-50 align-items-end" *ngIf="user">
        <li class="nav-item" *ngIf="isFarmerLoggedIn">
          <a class="nav-link translatable" data-key="navCrop" (click)="navigateToPage('Crop-Details')">Enter a crop</a>
        </li>
        <li class="nav-item" *ngIf="isFarmerLoggedIn">
          <a class="nav-link translatable" data-key="navAnalysis" (click)="navigateToPage('Analysis')">Analysis</a>
        </li>
        <li class="nav-item" *ngIf="isFarmerLoggedIn">
          <a class="nav-link translatable" data-key="navProfile" (click)="navigateToPage('Profile')">Profile</a>
        </li>
        <li class="nav-item" *ngIf="!isFarmerLoggedIn">
          <a class="nav-link translatable" data-key="navAddAdmin" (click)="navigateToPage('add-admin')">Admins</a>
        </li>
         <li class="nav-item" *ngIf="!isFarmerLoggedIn">
          <a class="nav-link translatable" data-key="navWeatherAlerts" (click)="navigateToPage('weather-alerts')">Weather Alerts</a>
        </li>
      </ul>

      <!-- Language Dropdown -->
       <!--  -->
      <div id="google_translate_element"></div>


      <!--  -->

      <div class="d-flex auth-buttons gap-2">
        <button class="login-btn btn btn-outline-primary translatable" data-key="btnLogin" (click)="navigateToPage('Login')" *ngIf="!user">Login</button>
        <button  class="signup-btn btn btn-primary translatable" data-key="btnSignup" (click)="navigateToPage('SignUp')"  *ngIf="!user">Signup</button>
      </div>
    </div>
  </div>
</nav>