
<div class="container">
  <form class="crop-form" [formGroup]="cropFormGroup" (ngSubmit)="submitData()">
    <h2 class=" text-center my-2">Crop Details</h2>
    
    <!-- Location -->
    <div class="label-input">
      <label for="location">Location </label>
      <input id="location" type="text" formControlName="location" required />
    </div>
    
    <p *ngIf="isFormControlError('location')" class="errors">Location is required</p>

    <!-- Soil Type -->
    <div class="label-input">
  <label for="soilType">Soil Type</label>
  <select name="soilType" id="" formControlName="soilType"> 
  <!-- <option value="Business">Business</option>
  <option value="Sports">Sports</option>
  <option value="Entertainment">Entertainment</option>
   <option value="Technology">Technology</option>
  <option value="Animals,Birds and Forests">Animals,Birds and Forests</option>
  <option value="general">general</option> -->
  <option *ngFor="let type of soilTypes" value={{type}}>{{type}}</option>
  </select>
   
   </div>

   <!-- Irrigation Type -->
    <div class="label-input">
  <label for="irrigationType">Irrigation Type</label>
  <select name="irrigationType" id="" formControlName="irrigationType"> 
  <option *ngFor="let type of irrigationTypes" value={{type}}>{{type}}</option>
  </select>
   
   </div>

    <!-- Yield -->
    <div class="label-input">
      <label for="yield">How much was your yield last year?</label>
      <input id="yield" type="number" formControlName="yield" required />
    </div>
    <p *ngIf="isFormControlError('yield')" class="errors">Yield is required</p>

    <!-- Fertilizers -->
    <div class="label-input">
      <label for="fertilizers">Tell us the Fertilizers used on the soil</label>
      <input id="fertilizers" type="text" formControlName="fertilizers" required />
    </div>
    <p *ngIf="isFormControlError('fertilizers')" class="errors">Fertilizers is required</p>

    

    <!-- Submit Button -->
    <button [disabled]="cropFormGroup.invalid" class="submit-btn">Submit</button>
  </form>
</div>
