<div class="outer">
  <div class="image-side">
    <img src="../../../assets/crop.jpg" alt="Crop Details Image" class="side-image" />
  </div>
  <form class="crop-form" [formGroup]="cropFormGroup" (ngSubmit)="submitData()">
    <h2 class=" text-center my-2">Crop Details</h2>

    <div class="label-input">
      <input id="location" type="text" formControlName="location" placeholder="Location" required />
    </div>
    <p *ngIf="isFormControlError('location')" class="errors">Location is required</p>

    <div class="label-input">
      <select name="soilType" id="" formControlName="soilType">
        <option *ngFor="let type of soilTypes" value={{type}}>{{type}}</option>
      </select>
    </div>

    <div class="label-input">
      <select name="irrigationType" id="" formControlName="irrigationType">
        <option *ngFor="let type of irrigationTypes" value={{type}}>{{type}}</option>
      </select>
    </div>

    <div class="label-input">
      <input id="yield" type="number" formControlName="yield" placeholder="How much was your yield last year?" required />
    </div>
    <p *ngIf="isFormControlError('yield')" class="errors">Yield is required</p>

    <div class="label-input">
      <input id="fertilizers" type="text" formControlName="fertilizers" placeholder="Tell us the Fertilizers used on the soil" required />
    </div>
    <p *ngIf="isFormControlError('fertilizers')" class="errors">Fertilizers is required</p>

    <button [disabled]="cropFormGroup.invalid" class="submit-btn">Submit</button>
  </form>
</div>